.Home {
  padding: 5%;  
}

.Home .scroll-top {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    background-color: #FDF9F5;
}

.Home .discover-friends {
    display: flex;
    justify-content: space-around;
    color: #A09486;
    position: sticky;
    top: 50px;
    background-color: #FDF9F5;
}

.Home .divider {
    height: 3px;
    background-color: #4F4E5A;
    border-radius: 5px;
    position: sticky;
    top: 75px;
}

.Home .divider-bottom {
    height: 18px;
    background-color: #FDF9F5;
    position: sticky;
    top: 78px;
}

.Home .discover-friends .active {
    color: #050517;
}

.Poem {
    display: flex;
    flex-direction: column;
    background-color: #EAE4DD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.Poem .action-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Poem .action-bar .button {
    cursor: pointer;
}

.Poem.closed {
    height: 200px;
    text-overflow: ellipsis;
}

.Poem p {
    height: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}