h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
}

h2 {
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  font-weight: normal;
}

h3 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
}

h4 {
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  font-weight: normal;
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 14px;
}

body {
  background-color: #FDF9F5;
  color: #050517;
}

a:link {
  color: #050517;
  text-decoration: none;
}

a:visited {
  color: #050517;
  text-decoration: none;
}
